// 颜色定义规范
$color-text-d = #1f2f3d
$color-text-l = #5e6d82

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px